* {
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
}

.wrapper {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.main {
    margin: 2rem;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.error-code {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 8rem;
    line-height: 8rem;
    margin: 0;
    color: #333333;
    letter-spacing: -1.4rem;
}

.error-code span {
    font-family: inherit;
    text-shadow: -5px 0px 0px #fff;
    line-height: 8rem;
}

.message {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #fffefe;
}

p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.actions {
    margin-top: 2rem;
    line-height: 2rem;
}

.button {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .25rem 1.5rem;
    background-color: var(--primary-color);
}