.coders-grid {
    padding: 10px;
}

.coders-card {
    width: 100%;
    border: solid 1px #336;
    box-shadow: #336 2px 2px 6px;
    margin: .5rem 0;
    background-color: #336;
    padding: 5px;
}

.coders-card .card-title {
    margin: 0;
    border: 0;
    font-size: 1.25rem;
    text-align: center;
    text-shadow: #003 2px 2px;
}

.card-content img {
    width: 100%;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

.card-link {
    padding: .25rem;
    margin-left: 1rem;
    color: var(--ligth-color);
    text-transform: uppercase;
}

@media all and (min-width: 480px) {
    .coders-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        overflow: hidden;
    }
    .coders-card .card-title {
        font-size: 1rem;
    }
}

@media all and (min-width: 560px) {
    .coders-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 768px) {
    .coders-card .card-title {
        font-size: 1.25rem;
    }
}


/* NOVEDADES */


/* PRIMER APARTADO */

.novedades1 {
    padding: 10px;
}

.novedades1_1 {
    width: 100%;
    border: solid 1px #336;
    box-shadow: #336 2px 2px 6px;
    margin: .5rem 0;
    background-color: #336;
    padding: 5px;
}

.novedades1_1 .titulo {
    margin: 0;
    border: 0;
    font-size: 1.25rem;
    text-align: center;
    text-shadow: #003 2px 2px;
}

.novedades1_2 img {
    width: 100%;
}

@media all and (min-width: 480px) {
    .novedades1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        overflow: hidden;
    }
    .novedades1_1 .titulo {
        font-size: 1rem;
    }
}


/* SEGUNDO APARTADO */

.novedades2 {
    padding: 10px;
}

.novedades2_1 {
    width: 100%;
    border: solid 1px #336;
    box-shadow: #336 2px 2px 6px;
    margin: .5rem 0;
    background-color: #336;
    padding: 5px;
}

.novedades2_1 .titulo2 {
    margin: 0;
    border: 0;
    font-size: 1.25rem;
    text-align: center;
    text-shadow: #003 2px 2px;
}

.novedades2_2 img {
    width: 100%;
}

@media all and (min-width: 480px) {
    .novedades2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        overflow: hidden;
    }
    .novedades2_1 .titulo2 {
        font-size: 1rem;
    }
}