.container-footer {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(7, 7, 7);
    margin-top: 20px;
}

.container-footer footer {
    max-width: 480px;
    margin: auto;
}

.container-footer footer .redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-sociales .icon-footer {
    font-size: 20px;
    margin: 20px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.footer .redes-sociales .facebook:hover {
    background-color: rgb(0, 72, 255);
    color: white;
}